<% if(cars.length>0) { %>
	<% cars.each(function(car){%>
		<tr>
			<th class="w40 pl30">
				<input class ="datch" type="checkbox" value="<%= car.id %>" data-title="<%= car.get('car').plate_number %>" data-name="<%= car.get('driver').driver_name %>"/>
			</th>
			<td  class="algin-c">
				  12312312
			</td>
			<td >
				按时发发呆是发的是发送到发送到
			</td>
			<td  class="algin-c">
			  	asdfadsfadsf
			</td>
			<td>
			  	adsfdsafsdf
			</td>
			<td>
				已启运
			</td>
			<td>
				按时发发呆是发的是发送到发送到
			</td>
			<td class="algin-c">
				adsf
			</td>
			<td class="algin-c">
				空车
			</td>
		</tr>
	<% });%>
<% }; %>