<% if(cargos.length>0) { %>
	<% cargos.each(function(cargo){%>
		<tr>
			<td class="plate">
				  12312312
			</td>
			<td >
				按时发发呆是发的是发送到发送到
			</td>
			<td>
			  	asdfadsfadsf
			</td>
			<td>
			  	adsfdsafsdf
			</td>
			<td>
				已启运
			</td>
			<td>
				按时发发呆是发的是发送到发送到
			</td>
			<td>
				adsf
			</td>
			<td>
				<div class="relative dropDown_box" style="z-index:50">
					<a class="btn-menu drop-down-link" href="javascript:void(0)">
					  	<i class="cog-gray"></i>
					  	<i class="drop-down-gray"></i>
					</a>
					<div class="drop-menu">
						<a href="#cargo/1975/detail">详情</a>
						<a href="javascript:;" data-cid="" data-cname="" class="track-notify">
							授权跟踪
						</a>
						<a href="javascript:;" data-cid="" class="confirm">确认收货</a>
						<a href="javascript:;" class="add-notify" value="" data-title="" data-origin="" data-name="" data-destination="" data-carriernum="" data-deliverynum="" data-takenum="">设置提醒</a>
					</div>
				</div>
			</td>
		</tr>
	<% });%>
<% }; %>