<% if(cargos.length>0) { %>
	<% cargos.each(function(cargo){%>
		<tr>
			<td class="plate">
				  12312312
			</td>
			<td >
				按时发发呆是发的是发送到发送到<a href="#cargo/<%=cargo.get('id')%>/detail">[详情]</a>
			</td>
			<td>
			  	asdfadsfadsf
			</td>
			<td>
			  	adsfdsafsdf
			</td>
			<td>
				已启运
			</td>
			<td>
				按时发发呆是发的是发送到发送到
			</td>
			<td>
				adsf
			</td>
			<td>
				<div class="relative dropDown_box" style="z-index:50">
					<a class="btn-menu drop-down-link" href="javascript:void(0)">
					  	<i class="cog-gray"></i>
					  	<i class="drop-down-gray"></i>
					</a>
					<div class="drop-menu">
						<a href="#cargo/<%=cargo.get('id')%>/push">推送</a>
						<a href="#cargo/<%=cargo.get('id')%>/edit">编辑</a>
						<a href="javascript:;" data-cid="<%=cargo.get('id')%>" class="confirm">删除</a>
						<a href="javascript:;" data-cid="<%=cargo.get('id')%>" class="confirm">已成交</a>
					</div>
				</div>
			</td>
		</tr>
	<% });%>
<% }; %>