<header id="header" class="site-header clearfix">
    <div class="header-toper">
    <%if(current_user){%>
        <p class="header-toper-info">您好！<span class="p5 red"><a href="#"><%= current_user.get('username')%></a></span>欢迎来到货源交易中心<a class="p5 " href="#logout">退出</a></p>
    <%}else{%>
        <p class="header-toper-info no-login"><a class="p5" href="">设为首页</a>|<a class="p5" href="">加入收藏</a></p>
    <%}%>
    </div>
	<div class="container">
		<div class="logo">
			<a href="#"><img src="/style/images/login.png"></a>
        </div>
        <div class="header-nav-tab">
           
            <%if(current_user){%>
             <ul>
                <li class="active"><a href="">货源信息</a></li>
                <li><a href="">车源信息</a></li>
                <li><a href="">用户中心</a></li>
            </ul>
            <%}else{%>
            <div class="mt20">
                <a href="" class="gray mr20">还么有账号？</a>
                <a href="" class="btn btn-normal btn-xslarge">注册</a>
            </div>
            <%}%>
            
        </div>
	</div>
</header>
<div class="flash-holder"></div>


