<div class="form-box">
	<div class="cargo-base-info">
		<div class="title">基本信息</div>
		<div class="group clearfix">
			<label class="label"><span class="required">*</span>货物名称</label>
			<div class="control-holder">
				<input type="text" class="text input-xllarge">
			</div>
		</div>
		<div class="group clearfix">
			<div class="group-y mr48">
				<label class="label"><span class="required">*</span>发货地址</label>
				<div class="control-holder">
					<input type="text" class="text input-mlarge">
				</div>
			</div>
			<div class="group-y">
				
				<div class="control-holder">
					<input type="text" class="text input-mlarge" >
				</div>
			</div>
		</div>
		<div class="group clearfix">
			<div class="group-y mr48">
				<label class="label"><span class="required">*</span>收货地址</label>
				<div class="control-holder">
					<input type="text" class="text input-mlarge">
				</div>
			</div>
			<div class="group-y">
				
				<div class="control-holder">
					<input type="text" class="text input-mlarge" >
				</div>
			</div>
		</div>
		<div class="group clearfix">
			<div class="group-y mr48">
				<label class="label">装货时间</label>
				<div class="control-holder">
					<input type="text" class="text input-mlarge">
				</div>
			</div>
			<div class="group-y">
				
				<div class="control-holder">
					<label class="label algin-l">运费（元）:</label>
					<input type="text" class="text input-xlarge" >
				</div>
			</div>
		</div>
		<div class="group clearfix">
			<div class="group-y mr48">
				<label class="label">参考距离</label>
				<div class="control-holder">
					<input type="text" class="text input-mlarge">
				</div>
			</div>
			<div class="group-y">
				
				<div class="control-holder">
					<label class="label  algin-l">参考运费</label>
					<input type="text" class="text input-xslarge mr5" >
					<a href="#">运费参考标准>></a>
				</div>
			</div>
		</div>
	</div>
	<div class="open-cargo-info algin-c border-b"><span>展开填写货物详细信息，发货更快更准确<i></i></span></div>
	<div class="cargo-other-info">
		<div class="title">货物信息</div>
		<div class="group clearfix">
			<div class="group-y mr48">
				<label class="label">重量</label>
				<div class="control-holder">
					<input type="text" class="text input-slarge">
				</div>
			</div>
			<div class="group-y">
				
				<div class="control-holder">
					<label class="label algin-l">所需车长</label>
					<input type="text" class="text input-slarge" >
				</div>
			</div>
		</div>
		<div class="group clearfix">
			<div class="group-y mr48">
				<label class="label">体积</label>
				<div class="control-holder">
					<input type="text" class="text input-slarge">
				</div>
			</div>
			<div class="group-y">
				
				<div class="control-holder">
					<label class="label algin-l">体积</label>
					<input type="text" class="text input-slarge" >
				</div>
			</div>
		</div>
		
		<div class="group clearfix">
			<div class="group-y mr48">
				<label class="label">长度</label>
				<div class="control-holder">
					<input type="text" class="text input-slarge">
				</div>
			</div>
		</div>
		<div class="group clearfix cargo-remark">
			<div class="group-y clearfix">
				<label class="label">备注</label>
				<div class="control-holder">
					<textarea></textarea>
				</div>
			</div>
		</div>
		
		<div class="clearfix">
			<div class="group-y mr48">
				<div class="title">发货方</div>
				<div class="clearfix group-min">
					<label class="label">发货人</label>
					<div class="control-holder">
						<input type="text" class="text input-slarge">
					</div>
				</div>
				<div class="clearfix group-min">
					<label class="label">联系电话</label>
					<div class="control-holder">
						<input type="text" class="text input-slarge">
					</div>
				</div>
			</div>
			<div class="group-y">
				<div class="title">收货方</div>
				<div class="clearfix group-min">
					<label class="label">收货人</label>
					<div class="control-holder">
						<input type="text" class="text input-slarge">
					</div>
				</div>
				<div class="clearfix group-min">
					<label class="label">联系电话</label>
					<div class="control-holder">
						<input type="text" class="text input-slarge">
					</div>
				</div>
			</div>
		</div>
		<div class="group">
			<div class="add-cargo-btn">
				<input type="button" class ="btn btn-slarge btn-normal mr48" value="发布货源">
				<input type="button" class="btn btn-xslarge btn-cancel" value="取消">
			</div>
		</div>
	</div>
</div>