<div class="cars">
	<div class="cars-search">
		<span class="fl mr140">已选车辆：25辆</span>
	 	<form id="J_qsearchForm" method="GET" onsubmit="return false;" class="fl mr15">
			<input type="text" id="J_qsearchvalue" class="text input-mlarge input-high fl" placeholder="车牌号码/手机号码">
			<input type="submit" class="btn btn-xslarge btn-search fl" value="搜索">
		</form>
		<input type="button" class="btn btn-xlarge btn-normal fl mr30" id="J_advSearch" value="高级搜索">
	 	<a href="" class="my-cargos fl mr20" id=""></a>
	 	<a href="" class="net-cars fl " id=""></a>
	</div>

	<div class="cars-box J_cars_box">
		<div class="cars-list">
			<table class="striped" style="table-layout:fixed;">
				<thead>
					<tr>
						<th class="w40 pl30">
							<input class ="datch"type="checkbox"/>
						</th>
						<th class="w60">车牌号</th>
						<th class="w120">车辆信息</th>
						<th class="w80">司机姓名</th>
						<th class="w80">随车电话</th>
						<th class="w100">常跑路线</th>
						<th class="w155 pl30">当前位置</th>
						<th class="w80">定位时间</th>
						<th class="w80">车辆状态</th>
					</tr>
				</thead>
				<tbody class="J_car_list">
					
				</tbody>
			</table>
		</div>
	</div>
</div>

