<div class="banner"><a href=""></a></div>

<div class="cargos">
	<div class="cargos-search">
	 	<form id="J_qsearchForm" method="GET" onsubmit="return false;" class="fl">
			<input type="text" id="J_qsearchvalue" class="text input-mlarge input-high mr15 fl" placeholder="车牌号码/手机号码/货源关键字">
			<input type="submit" class="btn btn-xslarge btn-normal fl" value="搜索">
		</form>
	 	<a href="#cargos/new" class="cargos-release fr" id="J_release">发布</a>
	</div>

	<div class="cargos-box J_cargos_box">
		<div class="cargos-status"></div>
		<div class="cargos-list">
			<table class="striped" style="table-layout:fixed;">
				<thead>
					<tr>
						<th class="w60">货单号</th>
						<th class="w155" style="padding-left:30px;">货源信息</th>
						<th class="w80">发布时间</th>
						<th class="w80">承运车辆</th>
						<th class="w80">司机信息</th>
						<th class="w155" style="padding-left:30px;">当前货运位置</th>
						<th class="w60">状态</th>
						<th class="w60">操作</th>
					</tr>
				</thead>
				<tbody class="J_cargo_list">
					
				</tbody>
			</table>
		</div>
	</div>
</div>

