<div class="content-box p50">
	<div class="row ">
		<div class="border-b clearfix">
			<div class="span5">
				<h2>货物信息</h2>
		        <div class="text-block">
					<p>
						<label>货源信息：</label>
						<span>ddd</span>
		            </p>
					<p>
						<label>货物信息：</label>
						<span>aaa</span>
					</p>
		      		<p>
						<label>发布时间：</label>
						<span>aaa</span>
					</p>

					<p>
						<label>装货时间：</label>
						<span>aaa</span>
					</p>
					<p>
						<label>货源状态：</label>
						<span>aaa</span>
					</p>
				</div>
			</div>
			<div class="span4">
				<h2>承运车辆</h2>
				<div class="text-block">
		            <p>
		                <label>车辆信息：</label>
		                <span ><%= item.carrier_contact_number || "-" %></span>
		            </p>
		            <p>
		                <label>司机信息：</label>
		                <span><%= item.carrier_contact_number || '-' %></span>
		            </p>
		            <p>
		                <label>货运位置：</label>
		                <span><%= item.carrier_contact_number || '-' %></span>
		            </p>
		            <p>
		                <label class="label"></label>
		                <span><a href="">地图上查看货运轨迹  >></a></span>
		            </p>
					
					
				</div>
			</div>
		</div>
		<div class="span5 mt20">
				<h2>其他信息</h2>
		        <div class="text-block">
					<p>
						<label>保险信息：</label>
						<span>已投保，投保金额100000元，由太平洋保险承保</span>
		            </p>
				
				</div>
			</div>
	</div>

</div>