/*重置html默认标签样式*/
/***********************************************************************************************/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,button {
  margin:0;
  padding:0;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
img{
  vertical-align: middle;
}
address,caption,cite,code,dfn,em,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:"";
  line-height: 0;
}
abbr,acronym { 
  border:0;
}
a:focus, input[type=button] ,input[type=submit] {
  outline:none;
}
textarea{
  outline: none;
  resize: none;
}
/*components*/
/***********************************************************************************************/

/*通用标签样式*/
/***********************************************************************************************/
body{
  font-size:13px; 
  color:#313131; 
  line-height:20px;
  font-family: 'Open Sans', Arial, '宋体', 'Microsoft Yahei', sans-serif
}
a{
  outline: none;
  color:#ff4a00; 
  text-decoration:none;
}
a:hover{color:#f53e14;}
h1, h2, h3, h4, h5, h6{
  font-weight:bold;
}
h4, h5, h6{
  margin-bottom:5px;
}
h1, h2{
  font-size:14px; 
  color:#333; 
  margin-bottom:25px;
}
input[type="text"]:disabled {
  border:1px dashed #ccc!important;
  color:#999;
}
input.readonly, input.disabled {
  border:1px dashed #ccc!important;
  color:#999;
}
p span{
  color: #777;
}
table p{margin:0;}
select{
  vertical-align:middle;
  background-color:white;
  border:1px solid #ccc;
  line-height:20px;
  font-size:13px;
  padding:4px;
  margin:0;
  border-radius:3px;
}
/*@module i 16*16图标*/
i{
  display:inline-block;
  background:url(/static/v/v1/images/llk_icon.png) no-repeat;
  width:16px;
  height:16px;
  margin-right:5px;
  vertical-align:middle;
}

i.cog-gray{background-position:-160px -64px;}
i.drop-down-gray{background-position:-176px -64px;}

em.icon_em{
  width: 56px;
  height: 56px;
  display:inline-block;
  background:url(/static/v/v1/images/llk_icon.png) no-repeat;
  margin-right:5px;
  vertical-align:middle;
}

.clearfix:before,  .clearfix:after{
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after{
  clear:both;
}
.clearfix {
    zoom:1;
}
/*通用css*/
.w300{width: 300px;}
.w240{width: 240px;}
.w200{width: 200px;}
.w180{width: 180px;}
.w155{width: 155px;}
.w150{width: 150px;}
.w120{width: 120px;}
.w100{width: 100px;}
.w90{width:90px;}
.w80{width: 80px;}
.w70{width: 70px;}
.w50{width:50px;}
.w60{width: 60px;}
.w20{width: 20px;}
.w30{width: 30px;}
.h40{height: 40px;clear: both;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt70{margin-top: 70px;}
.mr0{margin-right: 0;}
.mr5{margin-right: 5px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr48{margin-right: 49px;}
.mr58{margin-right: 58px;}
.ml10{margin-left: 10px;}
.ml19{margin-left: 19px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}
.ml160{margin-left: 160px;}
.m-auto{margin: 0 auto;}
.p-auto-50{
  padding: 50px 0;
}
.p5{padding:0 5px;}
.p50{padding:0 50px;}
.inline-block{
  display: inline-block;
           *display: inline;
           zoom: 1;
}
.algin-l{
  text-align: left;
}
.algin-c{
  text-align: center;
}
.algin-r{
  text-align: right;
}
.border-b{
  border-bottom: 1px solid #e5e5e5;
}
.border-r{
  border-right: 1px solid #e5e5e5;
}
.border-t{
  border-top: 1px solid #e5e5e5;
}
.border-l{
  border-left: 1px solid #e5e5e5;
}
select{
  height: 28px;
  line-height: 28px;
  border: 1px solid #bebebe;
  background: #fff;
  border-radius: 1px;
  padding: 0 4px;
}
input.text{
  height: 14px;
  line-height: 14px;
  border: 1px solid #bebebe;
  background: #fff;
  padding: 7px 4px;
}

.input-xslarge{
  width: 70px;
}
.input-xlarge{
  width: 178px;
}
.input-slarge{
  width: 224px;
}
.input-mlarge{
  width: 270px;
}
.input-llarge{
  width: 306px;
}
.input-xllarge{
  width: 600px;
}
select.input-xslarge{
  width: 80px;
}
select.input-xlarge{
  width: 188px;
}
select.input-slarge{
  width: 234px;
}
select.input-mlarge{
  width: 280px;
}
select.input-llarge{
  width: 400px;
}
select.input-xllarge{
  width: 610px;
}

input.input-high{
  height: 18px;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.fr{
  float: right;
}
.fl {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.btn{
  height: 34px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}
.btn-normal{
  background: #ff4a00;
  color:#fff;
}
.btn-cancel{
  background: #a0a0a0;
  color:#fff;
}
.btn-xslarge{
  width: 70px;
}
.btn-xlarge{
  width: 100px;
}
.btn-slarge{
  width: 150px;
}
.btn-mlarge{
  width: 200px;
}
/*.btn-llarge{
  width: 398px;
}
.btn-xllarge{
  width: 608px;
}*/
.done_render_title{
  font-size: 40px;
  height: 40px;
  line-height: 40px;
  color: #414141;
}
.affix {
  position: fixed;
}
.invisible {
  visibility: hidden;
}
.unindent{
  padding-left: 0!important;
}
.well{
  color:#333;
  background-color:#f9f9f9;
  border:1px solid #ddd;
  border-radius:4px;
  min-height:20px;
  padding:15px 15px 15px 25px;
  margin-bottom:30px;
}
.well span{margin-right:10px;}
.justify{
  text-align:right;
}
.justify span{
  float: left;
  vertical-align:middle;
  margin-top:5px;
}
.right {
  float: right;
}
/*@module 网格系统*/
.row{
  /*margin-left:-40px;*/
}
.row:before,.row:after{
  display: table;
  line-height: 0;
  content: "";
}
.row:after{
  clear: both;
}
.row [class*="span"]{
  float:left;
  margin-left:30px;
}
.span10{width: 920px;}
.span8{width: 749px; padding-right: 1px;} /*table右边border能显示*/
.span6{width: 599px; padding-right: 1px;}
.span5{width: 460px;}
.span4{width: 320px;}
.span3{width: 240px;}
.span2{width: 170px;}
.span1{width: 90px;}

.offset12 {
  margin-left: 980px;
}

.offset11 {
  margin-left: 900px;
}

.offset10 {
  margin-left: 820px;
}

.offset9 {
  margin-left: 740px;
}

.offset8 {
  margin-left: 660px;
}

.offset7 {
  margin-left: 580px;
}

.offset6 {
  margin-left: 500px;
}

.offset5 {
  margin-left: 420px;
}

.offset4 {
  margin-left: 340px;
}

.offset3 {
  margin-left: 260px;
}

.offset2 {
  margin-left: 180px;
}

.offset1 {
  margin-left: 100px;
}
/**/
.container{
  width:960px;
  margin-left:auto;
  margin-right:auto;
}
.content-box{
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-bottom: 26px;
  padding-top:20px;
}

.red{
  color:#ff4a00;
}
/*头部*/
.site-header{
  background: #fafafa;
  border-bottom: 1px solid #e5e5e5;
  height: 108px;
  font-family: 'Microsoft Yahei';
}
.site-header .logo{
  float: left;
}
.site-header .header-nav-tab{
  float: right;
}
.header-nav-tab li{
  float: left;
  height: 65px;
  line-height: 90px;
  margin-right: 34px;
  font-size: 18px;
}
.header-nav-tab li a{
  color: #959595;
  display: inline-block;
  height: 65px;
}
.header-nav-tab li.active{
  border-bottom: 2px solid #ff4a00;
}
.header-nav-tab li.active a{
  color: #313131;
}
.header-toper{
  background: #414141;
  height: 30px;
  line-height: 30px;
}
.header-toper-info{
  float: right;
  color: #fff;
  padding-right: 160px;
}
.no-login a{
  color: #fff;
}
/*底部*/
.footer{
  height: 70px;
  background: #fafafa;
  padding:30px 0;
}
.footer p{
  text-align: center;
  color:#a6a6a6;
  line-height: 34px;
}
.footer a{
  color: #6b6b6b;
  margin: 0 16px;
}

/*@module pagination 分页*/
.pagination{
  height:36px;
  margin:30px 0;
}
.pagination ul{
  display: inline-block;
  border-radius:3px;
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border: 1px solid #ddd;
  border-left-width: 0;
  color: #525252;
}
.pagination a:hover,
.pagination .active a {
  background-color: #f5f5f5;
}
.pagination .active a{
  color: #999999;
}
.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
  color: #999999;
  cursor: default;
  background-color: transparent;
}
.pagination li:first-child a {
  border-left-width: 1px;
  border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
  border-radius: 0 3px 3px 0;
}
.pagination .list-define{
  float: right;
  color: #888;
}
.pagination .list-define input{
  width: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
.pagination .list-define button{
  padding:4px 10px;
  margin-left: 5px;
}

/*@module table 表格*/
table{
  margin-bottom:20px;
  border-color:#ddd;
  width:100%;
  border-top: 1px solid #ccc;
}
table .btn-more{
  padding:0;
}
tr.row-sep{
  height:12px;
}
/*圆角*/
table tr:first-child th:first-child,table tr:first-child td:first-child{
  border-radius: 4px 0px 0px 0px;
}
table tr:first-child th:last-child,table tr:first-child td:last-child{
  border-radius: 4px 0px 0px 0px;
}
table tr:last-child td:first-child{
  border-radius: 0px 0px 0px 4px;
}
table tr:last-child td:last-child{
  border-radius: 0px 0px 4px 0px;
}

table th, table td{
  padding:10px 0px 10px 12px;
  text-align:left;
  border: 1px solid #ccc;
}
table th{
  font-weight:bold;
}
thead th,thead td{
  border-top:0;
}
table.striped tbody tr:nth-child(odd) th, table.striped tbody tr:nth-child(odd) td{
  background-color:#f9f9f9;
}


table.bordered{
  border:1px solid transparent;
}
table.bordered td{
  border:1px solid #ddd;
}
table input[type="checkbox"],table input[type="radio"]{
  float:none;
  margin-left: 0;
}
table i{
  margin: -2px 0 2px 3px;
}
table a{margin-right:5px;display: inline-block;*display:inline;}
table label{
  margin-bottom: 0px; 
  margin-right: 4px;
}
/*table seperated*/
table.seperated{
  width:748px;
}
table.seperated td{
  padding:20px 25px;
  border:1px solid #ddd;
}
table.seperated td span{
  line-height: 24px;
}

table .drop-menu{
  z-index: 10;
  top:25px;
  left:0px;
}
table .drop-menu a{
  margin-right: 0px;
  padding:5px 12px 3px 12px;
}

.red{
  color:#ff4a00;
}
/*头部*/
.site-header{
  background: #fafafa;
  border-bottom: 1px solid #e5e5e5;
  height: 108px;
}
.site-header .logo{
  float: left;
}
.site-header .header-nav-tab{
  float: right;
}
.header-nav-tab li{
  float: left;
  height: 65px;
  line-height: 90px;
  margin-right: 34px;
  font-size: 18px;
}
.header-nav-tab li a{
  color: #959595;
  display: inline-block;
  height: 65px;
}
.header-nav-tab li.active{
  border-bottom: 2px solid #ff4a00;
}
.header-nav-tab li.active a{
  color: #313131;
}
.header-toper{
  background: #414141;
  height: 30px;
  line-height: 30px;
}
.header-toper-info{
  float: right;
  color: #fff;
  padding-right: 160px;
}
/*底部*/
.footer{
  height: 70px;
  background: #fafafa;
  padding:30px 0;
}
.footer p{
  text-align: center;
  color:#a6a6a6;
  line-height: 34px;
}
.footer a{
  color: #6b6b6b;
  margin: 0 16px;
}

/*登录*/
.login_banner{
  width: 530px;
  height: 394px;
  background: url(/style/images/login_banner.jpg) no-repeat;
}
.login_form{
  border: 1px solid #d2d2d2;
}
/*货源列表页*/
.banner{
  width: 960px;height: 100px;
  background: url(http://gtms02.alicdn.com/tps/i2/TB1Fyx0GVXXXXaQaXXXnLSnFXXX-880-70.png);
  margin-bottom: 26px;
  background-size: 100%
}

.cargos-search{
  margin-bottom: 22px;overflow: hidden;
}

.cargos-release{
  width: 150px;height: 34px;
  background: url(/style/images/push_btn.gif);
}


























/*面包屑*/
.crumb{
  height: 50px;
  line-height: 50px;
  font-family: 'Microsoft Yahei';
}
.form-box{
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding:0 128px;
  margin-bottom: 26px;
}
/*表单*/
.required{
  color: #ff4a00;
  margin-right: 2px;
}
.group{
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}
.group-y{
  float: left;
}
.group-min{
  height: 50px;
  margin-bottom: 10px;
}
.label,.control-holder{
  float: left;
}
.label{
  width: 78px;
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding-right: 14px;
}
.label.algin-l{
  text-align: left;
}
.open-cargo-info{
  height: 43px;
  line-height: 43px;
  cursor: pointer;
}
.form-box .title{
  margin: 30px 0  20px 0;
  font-size: 14px;
  font-weight: bold;
}
.cargo-other-info textarea{
  width: 608px;
  height: 66px;
}
.cargo-remark{
  height: 90px;
}
.add-cargo-btn{
  width: 275px;
  margin: 30px auto;
}
/*.control-holder{
  display: inline;
}*/




.btn-menu{
  /*display: block;*/
  float: left;
  color: #444;
  font-size: 12px;
  background-color: #f3f3f3;
  padding:4px 10px 3px 8px;
  border:1px solid #ddd;
  border-radius: 2px;
  white-space: nowrap;
}
.btn-menu i{
  margin-top: -3px;
}
.btn-menu:hover{
  background-color: #f9f9f9;
  color: #333;
  border:1px solid #cfcfcf;
  box-shadow: 0 2px 4px #eee;
  cursor: pointer;
}





/*help class*/
.relative{position: relative;}
/*unique compononts******************************************************************************/
.dropdown .open .drop-menu {
  display: block;
}
.drop-menu{
  border: 1px solid #ccc;
  position: absolute;
  background-color: white;
  display: none;  
}
.drop-menu a{
  display: block;
  white-space: nowrap;
  border-top: 1px solid #eee;
}
.drop-menu a:first-child{
  border-top: none;
}
.drop-menu a:hover{
  background-color: #f9f9f9;
}


/*@module text block 文字块*/
/********************************************************************************************/
.text-block{
  margin-bottom:30px;
  line-height: 28px;
}
.text-block p.last label{
  display: block;
  float: left;
  margin-top: 4px;
  padding-right: 20px;
  *vertical-align: middle;
  *line-height: 16px;
}
.text-warning{color: #F29D67;}
.text-error{color: #b94a48; }
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

.ellipsis{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  _width:100%;
}
/*@module alert 警示框*/
/************************************************************************************************/
.alert{
  padding: 20px 35px 18px 20px;
  margin-bottom: 28px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}
.alert-warning{
  color: #c09853;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}
.alert-error{
  color: #B94A48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-success{
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/*@module modal 弹出层*/
.modal-wrapper {
  position: fixed;
  z-index: 1001;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: url(/static/v/v1/images/modal_bg.png) repeat;
}
.modal{
  position: fixed;
  top:50%;
  left:50%;
  margin-left: -550px;
  margin-top: -250px;
  border:6px solid #515151;
  background-color: white;
  width:500px;
}
.modal-header{
  background-color: #eeeeee;
  padding:0 14px;
  height: 32px;
  line-height: 32px;
  color: #313131;
}
.modal-header h2{
  margin-bottom: 0px;
  color: #626262;
}
.modal-header .close{
  float:right;
  margin-top:6px;
  cursor:pointer;
}
.modal-header .close:hover{
  background-position:-96px -32px; 
}

.modal-body{
  *position: relative;
  max-height: 400px;
  overflow-y: auto;  
  padding: 40px 0;
  
}
.modal-body .modal-content{
  padding:0 76px !important;
  font-size: 12px;
}
.modal-body p{
  margin-bottom: 0;
  color: #626262;
  font-size: 16px;
}
.modal-body .modal-content .font_hint
{
  color: #a3a3a3;
  font-size: 12px;
}
.modal-body .modal-header i{
  margin-top:-3px;
}

.modal-footer{
  padding:15px 15px;
  text-align: center;
}
.modal-footer .btn-confirm{
  margin-right: 8px;
}

.modal .group:last-child{
  margin-bottom: 0;
}